@import 'variables';

%link {
    color: $toxic-green;
    &:hover {
        border-radius: 5px;
        text-decoration: none;
        color: black;
        background-color: $light-green;
        box-shadow: 0 0 12px 3px $light-green;
    }
}

%reg-block-size {
    width: 75%;
    @media (min-width: 576px) {
        width: 435px;
    }
}

%label-search {
    font-size: $search-label-f-size;
    margin-right: calc(9px + .11vw);
    padding-top: 3px;
}

%label-reg {
    color: $toxic-green;
    font-size: calc(6px + 2.05vw);
    font-weight: bold;
    @media (min-width: 576px) {
        font-size: calc(14px + .35vw);
    }
}

$modal-width: calc(227px + 14vw);
$modal-left: calc((100vw - $modal-width) / 2);

%modals {
    position: fixed;
    top: 40vh;
    width: $modal-width;
    left: $modal-left;
    z-index: 2;
    padding: 20px;
    background-color: rgb(205, 205, 205);
    box-shadow: inset 0px -3px 4px 4px rgb(75, 35, 35);
}

%modal-p {
    font-size: calc(14.5px + .45vw);
    font-weight: bold;
    line-height: 1.3;
    color: black;
    margin-bottom: 15px;
}

%contacts-settings {
    font-size: 5.2vw;
    font-weight: bold;
    color: $toxic-green;
    @media (min-width: 576px) {
        font-size: 30px;
    }
}

%contacts-settings-2 {
    letter-spacing: calc(1.5px + .5vw);
    text-align: center;
    @media (min-width: 576px) {
        letter-spacing: 5px;
    }
}