@import 'variables';

@mixin arrow-btn($side) {
    border-radius: 50%;
    border-width: .5px;
    background-color: white;
    opacity: .6;
    z-index: 2;
    font-size: 33px;
    font-weight: bold;
    padding: .4vw;
    position: relative;
    #{$side}: -1.2vw;
    &:hover {
        opacity: .8;
        color: $toxic-green;
        #{$side}: -1vw;
    }
}

@mixin keyframes($a-name) {
    @-webkit-keyframes #{$a-name} {
        @content;
    }
    @-moz-keyframes #{$a-name} {
        @content;
    }
    @keyframes #{$a-name} {
        @content;
    }
}

@mixin animation($settings) {
    -webkit-animation: $settings;
    -moz-animation: $settings;
    animation: $settings;
}