@mixin keyframes($a-name) {
    @-webkit-keyframes #{$a-name} {
        @content;
    }
    @-moz-keyframes #{$a-name} {
        @content;
    }
    @keyframes #{$a-name} {
        @content;
    }
}

@mixin animation($settings) {
    -webkit-animation: $settings;
    -moz-animation: $settings;
    animation: $settings;
}